{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stereoscopic Hardware</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/index.js"></script>
</head>
<body>
    <div id="app">
        <h1>Stereoscopic Hardware</h1>
        <p>This is a stereoscopic hardware project.</p>
        <p>It is a work in progress.</p>
    </div>
</body>
</html>
{{end}}
